@import '@/variables';
.postContainer {
  margin: 0 0 100px;
  width: 1280px;
  @include flex(column, center, unset);
  .top {
    width: 100%;
    @include flex(row, flex-start, space-between);
    .heading {
      @include font(35px, 44px, 500);
    }
    .date {
      @include font(16px, 20px, 400);
      padding-top: 15px;
      color: #000000bb;
    }
  }
  .paragraph {
    width: 100%;
    text-align: justify;
    padding: 20px 0;
    @include font(16px, 20px, 500);
  }
  .beforeAfterContainer {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    .before,
    .after {
      h3 {
        @include font(24px, 30px, 500);
        padding-bottom: 10px;
      }

      img {
        display: block;
        width: 100%;
      }
    }
  }
  .onePhotoContainer {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    .paragraph {
      text-align: justify;
      padding: 5px 0;
      @include font(16px, 20px, 500);
    }
    .images {
      display: block;
      width: 100%;
    }
  }
  .threePhotosContainer {
    width: 100%;

    .photos {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-auto-rows: 500px;
      grid-gap: 10px;

      img {
        display: block;
        width: 100%;
      }
    }

    h3 {
      @include font(24px, 30px, 500);
      padding-bottom: 10px;
    }
    .three{
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  .oneTechnology {
    width: 100%;
    padding-bottom: 20px;
  
    &:last-child {
      padding-bottom: 0
    }
  
    .step {
      @include font(20px, 30px, 700);
    }
  
    .stepContainer {
      display: grid;
      grid-template-columns: 40% 1fr;
      grid-gap: 20px;
  
      .paragraph {
        text-align: justify;
        width: 100%;
        padding: 0;
        @include font(16px, 20px, 500);
      }
  
      .images {
        display: block;
        width: 100%;
        height: 350px;
      }
    }
  }
  .openButton {
    padding: 15px 50px;
    background-color: $mainDarkGreen;
    border: 1px solid $mainVeryDarkGreen;
    @include font(16px, 24px, 500);

    &:hover {
      cursor: pointer;
    }
  }
  .bottom{
    @include flex(row, center, flex-end);
    width: 100%;
    .deleteButton{
      background-color: transparent;
      width: 80px;
      height: 80px;
      border: none;
      &:hover{
        cursor: pointer;
        .svg{
          fill: $mainRedHover;
          transition: 300ms;
        }
      }
      .svg{
        fill: $mainRed;
        width: 60px;
        height: 60px;
        transition: 300ms;
      }
    }
  }
}

@media screen and (max-width: 1400px) {
  .postContainer {
    padding: 0 50px;
    width: 100%;
    .openButton{
      right: 50px;
    }
  }
}
@media screen and (max-width: 1200px) {
  .postContainer {
    .threePhotosContainer {
      .photos{
        grid-template-columns: 1fr 1fr;
      }
    }
  }
}
@media screen and (max-width: 1000px) {
  .postContainer {
    margin: 50px 0;
    .oneTechnology{
      .stepContainer {
        grid-template-columns: 50% 1fr;
      }
    }
  }
}
@media screen and (max-width: 750px) {
  .postContainer {
    padding: 0 20px;
    margin: 50px 0;

    .top {
      @include flex(column, flex-start, flex-start);
      .heading {
        @include font(28px, 38px, 500);
        padding-bottom: 10px;
      }
    }

    .beforeAfterContainer {
      grid-template-columns: 1fr;

      .before,
      .after {
        h3 {
          @include font(20px, 30px, 500);
        }
      }
    }
    .onePhotoContainer{
      grid-template-columns: 1fr;
    }
    .threePhotosContainer {
      .photos{
        grid-template-columns: 1fr;
      }
    }
    .oneTechnology{
      .stepContainer {
        grid-template-columns: 1fr;
      }
    }
    .openButton {
      position: relative;
      width: 100%;
      margin-top: 10px;
      right: 0;
    }
  }
}