@mixin flex($direction, $items, $content) {
    display: flex;
    flex-direction: $direction;
    align-items: $items;
    justify-content: $content;
}
@mixin font($size, $lineHeight, $weight) {
    font-size: $size;
    line-height: $lineHeight;
    font-weight: $weight;
}

$mainWhite: #fff;
$mainBackGreen: rgba(168, 192, 175, 0.3);
$mainBackDarkGreen: rgba(94, 110, 99, 0.7);
$mainDarkGreen: #8BAB94;
$mainVeryDarkGreen: #47574b;
$mainDarkGreenHover: #8BAB9433;
$mainRed: rgb(204, 80, 80);